<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.bahwancybertek.nocknock"
    version         = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>NockNock</name>

    <description>
        AD's BCT App
    </description>

 
    <author href="http://bahwancybertek.com" email="anandhu89@gmail.com">
        Anandhu Dhanapal 
    </author>
    <icon src="nklogo.png" />
    
     

     <content src="http://www.bahwancybertek.com/" />
     <access origin="*" />

</widget>
